<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3" ng-hide="data.category._id">Add new category</h1>
    <h1 class="m-n font-thin h3" ng-show="data.category._id">Category #{{data.category.name}} </h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name category" ng-model="data.category.name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea rows="4" class="form-control" placeholder="Text..." ng-model="data.category.description"></textarea>
                        </div>
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" ng-model="data.category.isPublic"><i></i> Check me out
                            </label>
                        </div>
                        <button type="submit" class="btn btn-sm btn-info pull-right" ng-click="saveCategory()" ng-disbled="!data.category.name">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

