<div class="lang-select" dropdown is-open="lg.isOpen">
    <div class="dropdown-toggle" dropdown-toggle>
        <span translate="LANGUAGE" class="language-style"></span> <img ng-src="{{selectedLang.img}}" width="32" style="margin-left: 10px">
        <b class="caret"></b>
    </div>
    <!-- dropdown -->
    <ul class="dropdown-menu right">
        <li ng-repeat="lang in locales">
            <a ng-click="selectLangId(lang)" href>
                <img ng-src="{{lang.img}}" width="24" class="m-r-sm">{{lang.name}}</a>
        </li>
    </ul>
    <!-- / dropdown -->
</div>